<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Plantilla Base{% endblock title %}</title>
   
   
    {% load static %}
   <!-- <link rel="stylesheet" href="{% static '\app1\public\css\bootstrap.css'%}"> -->
    <link rel="stylesheet" href="{% static '\app1\public\css\style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap" rel="stylesheet">
   
    
    {% block link-css %}{% endblock link-css %}
</head>

<body>
 
    {% load static %}
  

   
    <div class="greyFilter">
        <div class="mainClimateImg">
            <header>
                <div class="greyFiterNav">
                    <nav>
                       <a href="">///</a>
                        <a href="" id="a-doble"><img src="../static/assets/img/location-svg.svg" alt="location">      Buenos Aires, Arg. </a>
                        <a href=""> <img src="../static/assets/img/plus.png" alt="plus"> </a>
                    </nav>
                </div>
            </header>

            <table id="table-principal">
                <tr>
                    <td>
                        <img src="../static/assets/img/ICONO_SVG_broken_clouds.svg" alt="weather-icon" id="weather-icon">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>22°C</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>jueves 13/11/22 - 19:32hs</p>
                    </td>
                </tr>
                <tr>
                    <td id="last-cell-primary-table">
                        <p><img src="../static/assets/img/gota.svg" alt="gota" class="gota">         25% humedad</p>  
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="black-container">
        <table id="secondary-table">
            <tr>
                <td class="td-secondary-table-icon"><img src="../static/assets/img/ICONOS/ICONO_SVG_clean_day.svg" alt=""></td>
                <td class="td-secondary-table-icon"><img src="../static/assets/img/ICONOS/ICONO_SVG_rain_night.svg" alt=""></td>
                <td class="td-secondary-table-icon"><img src="../static/assets/img/ICONOS/ICONO_SVG_clean_day.svg" alt=""></td>
                <td class="td-secondary-table-icon"><img src="../static/assets/img/ICONOS/ICONO_SVG_rain_night.svg" alt=""></td>
                <td class="td-secondary-table-icon"><img src="../static/assets/img/ICONOS/ICONO_SVG_clean_day.svg" alt=""></td>
                <td class="td-secondary-table-icon"><img src="../static/assets/img/ICONOS/ICONO_SVG_rain_night.svg" alt=""></td>
                <td class="td-secondary-table-icon"><img src="../static/assets/img/ICONOS/ICONO_SVG_rain_night.svg" alt=""></td>
            </tr>
            <tr class="tr-secondary-table" id="temperature-table-secondary">
                <td>22°</td>
                <td>22°</td>
                <td>22°</td>
                <td>22°</td>
                <td>22°</td>
                <td>22°</td>
                <td>22°</td>
                
            </tr>
            <tr class="tr-secondary-table">
                <td>15h</td>
                <td>16h</td>
                <td>17h</td>
                <td>18h</td>
                <td>19h</td>
                <td>20h</td>
                <td>20h</td>
                
            </tr>
           
            <tr class="tr-secondary-table"  id="humidity-table-secondary">
                <td><img src="../static/assets/img/gota.svg" alt="gota" class="gota">         25%</td>
                <td><img src="../static/assets/img/gota.svg" alt="gota" class="gota">         25%</td>
                <td><img src="../static/assets/img/gota.svg" alt="gota" class="gota">         25%</td>
                <td><img src="../static/assets/img/gota.svg" alt="gota" class="gota">         25%</td>
                <td><img src="../static/assets/img/gota.svg" alt="gota" class="gota">         25%</td>
                <td><img src="../static/assets/img/gota.svg" alt="gota" class="gota">         25%</td>
                <td><img src="../static/assets/img/gota.svg" alt="gota" class="gota">         25%</td>
            </tr>
           
        </table>   
        <div> 
            <div class="example1">
                <h3>  Sin alertas  </h3>
                </div>

            
            </div>
        </div>  
        <div class="buttons-container">
            <button class="button-71" role="button">Suscripción</button>
            <button class="button-71" role="button">??</button>
        </div>
    </div>

    


   
<br><br><br><br><br><br><br><br><br><br>


  
  

 {% block contenido %}

 {% endblock contenido %}



 <footer>
   

    <div class="foot">
        <div class="social">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook" aria-hidden="true" style="color:white"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter" aria-hidden="true" style="color:white"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram" aria-hidden="true" style="color:white"></i></a>
            <a href="htpps://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin" aria-hidden="true" style="color:white"></i></a>
            <a href="https://www.pinterest.com" target="_blank"><i class="fa-brands fa-pinterest" aria-hidden="true" style="color:white"></i></a>      
        </div>
        <p>&copy; [Grupo 7] - Django - Comision 22819</p>
    </div>
</footer>

    
    {% block link-javascript %}{% endblock link-javascript %}
    <script src="https://kit.fontawesome.com/9c090b21a8.js" crossorigin="anonymous"></script>
    <script src="{% static '\app1\public\js\bootstrap.bundle.js'%}"></script>

</body>
</html>