<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Pantilla Base{% endblock title %}</title>

    {% block link-css %}{% endblock link-css %}
</head>
<body>
    -----SECCION HEADER----



 {% block contenido %}
 {% endblock contenido %}



    -----SECCION FOOTER------
    {% block link-javascript %}{% endblock link-javascript %}
</body>
</html>